@{
    ViewData["Title"] = "Vytvoření nového klienta";
}

<article>
    <div id="centrovac">
        <header>
            <h1>Vytvoření nového klienta</h1>
        </header>

        <section>
            <p>Něco</p>


        </section>
        <div class="cistic"></div>
    </div>
</article>


<footer>
    Vytvořil &copy;něco pro <a href="#">neco.CZ</a>
</footer>
